<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
                            <extension point="org.knime.product.splashExtension">
                               <splashExtension icon="icons/wkt48.png" icon24="icons/wkt24.png" icon32="icons/wkt32.png" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.splashExtension" tooltip="WKT nodes for KNIME">
                               </splashExtension>
                            </extension>
   <extension point="org.knime.workbench.repository.categories">
      <category description="Manipulation of shapefiles as WKT text" icon="icons/shapefilesAsWKT.png" level-id="spatialAsWKT" locked="false" name="Shapefiles as WKT" path="/community/">
      </category>
      <category description="Read spatial data to WKT format" icon="icons/shp-wkt-reader-icon.png" level-id="readSpatialAsWKT" locked="false" name="Read spatial as WKT" path="/community/spatialAsWKT">
      </category>
      <category description="Transform spatial data in WKT format" icon="icons/shapefilesAsWKT.png" level-id="transformSpatialAsWKT" locked="false" name="Transform WKT spatial data" path="/community/spatialAsWKT">
      </category>
      <category description="View spatial data in WKT format" icon="icons/shapefilesAsWKT.png" level-id="viewSpatialAsWKT" locked="false" name="View spatial as WKT" path="/community/spatialAsWKT">
      </category>
      <category description="Writes WKT spatial data" icon="icons/shp-wkt-writer-icon.png" level-id="writeSpatialAsWKT" locked="false" name="Write spatial as WKT" path="/community/spatialAsWKT">
      </category>
   </extension>

   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/community/spatialAsWKT/readSpatialAsWKT" deprecated="false" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.readFromShapefile.ReadShapefileAsWKTNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesKML.readFromShapefile"/>
<node category-path="/community/spatialAsWKT/readSpatialAsWKT" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.readFromDB.ReadWKTFromDatabaseNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.readFromDB.ReadWKTFromDatabaseNodeFactory"/>
<node category-path="/community/spatialAsWKT/readSpatialAsWKT" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.readFromKML.ReadKMLAsWKTNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.readFromWKT.ReadKMLAsWKTNodeFactory"/>
<node
      category-path="/community/spatialAsWKT/readSpatialAsWKT"
      factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.readFromGML.ReadGMLAsWKTNodeFactory"
      id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.readFromGML.ReadGMLAsWKTNodeFactory">
</node>
   <node category-path="/community/spatialAsWKT/viewSpatialAsWKT" deprecated="false" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.view.DisplaySpatialPopulationNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.view.DisplaySpatialPopulationNodeFactory">
   </node>
   <node category-path="/community/spatialAsWKT/transformSpatialAsWKT" deprecated="false" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.reproject.ReprojectNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.reproject.ReprojectNodeFactory">
   </node>
<node category-path="/community/spatialAsWKT/transformSpatialAsWKT" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.properties.surface.SpatialPropertySurfaceNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.properties.surface.SpatialPropertySurfaceNodeFactory"/>
<node
      category-path="/community/spatialAsWKT/transformSpatialAsWKT"
      factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.properties.globalboundingbox.GlobalBoundingBoxNodeFactory"
      id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.properties.globalboundingbox.GlobalBoundingBoxNodeFactory">
</node>
   <node category-path="/community/spatialAsWKT/writeSpatialAsWKT" deprecated="false" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.writeToShapefile.WriteWKTAsShapefileNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.writeToShapefile.WriteWKTAsShapefileNodeFactory"/>
<node category-path="/community/spatialAsWKT/writeSpatialAsWKT" deprecated="false" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.writeToKML.WriteWKTToKMLNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.writeToKML.WriteWKTToKMLNodeFactory"/>
<node
      category-path="/community/spatialAsWKT/writeSpatialAsWKT"
      deprecated="false"
      factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.writeToGML.WriteWKTToGMLNodeFactory"
      id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.writeToGML.WriteWKTToGMLNodeFactory">
</node>
<node
      category-path="/community/spatialAsWKT/writeSpatialAsWKT"
      deprecated="false"
      factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.writeToDB.WriteWKTIntoDBNodeFactory"
      id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.writeToDB.WriteWKTIntoDBNodeFactory">
</node>
<node category-path="/community/spatialAsWKT/transformSpatialAsWKT" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.properties.centroid.ComputeCentroidForWKTGeometriesNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.properties.centroid.ComputeCentroidForWKTGeometriesNodeFactory"/>
</extension>
   
</plugin>
