<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
                            <extension point="org.knime.product.splashExtension">
                               <splashExtension icon="icons/wkt48.png" icon24="icons/wkt24.png" icon32="icons/wkt32.png" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.splashExtension" tooltip="WKT nodes for KNIME">
                               </splashExtension>
                            </extension>
   <extension point="org.knime.workbench.repository.categories">
      <category description="Manipulation of spatial data in WKT format" icon="icons/shapefilesAsWKT.png" level-id="spatialAsWKT" locked="false" name="Spatial Processing" path="/community/">
      </category>
      <category description="Read spatial data to WKT format" icon="icons/shp-wkt-reader-icon.png" level-id="readSpatialAsWKT" locked="false" name="Read" path="/community/spatialAsWKT">
      </category>
      <category
            after="readSpatialAsWKT"
            description="Extract the properties of geometries"
            icon="icons/shapefilesAsWKT.png"
            level-id="propertiesSpatialAsWKT"
            locked="false"
            name="Properties"
            path="/community/spatialAsWKT">
      </category>
      <category
            after="propertiesSpatialAsWKT"
            description="Transform spatial data in WKT format"
            icon="icons/shapefilesAsWKT.png"
            level-id="transformSpatialAsWKT"
            locked="false"
            name="Transform"
            path="/community/spatialAsWKT">
      </category>
      <category
            after="transformSpatialAsWKT"
            description="View spatial data in WKT format"
            icon="icons/shapefilesAsWKT.png"
            level-id="viewSpatialAsWKT"
            locked="false"
            name="View"
            path="/community/spatialAsWKT">
      </category>
      <category
            after="viewSpatialAsWKT"
            description="Writes WKT spatial data"
            icon="icons/shp-wkt-writer-icon.png"
            level-id="writeSpatialAsWKT"
            locked="false"
            name="Write"
            path="/community/spatialAsWKT">
      </category>
   </extension>

   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/community/spatialAsWKT/readSpatialAsWKT" deprecated="false" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.read.read_from_shapefile.ReadShapefileAsWKTNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesKML.readFromShapefile"/>
<node category-path="/community/spatialAsWKT/readSpatialAsWKT" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.read.read_from_db.ReadWKTFromDatabaseNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.readFromDB.ReadWKTFromDatabaseNodeFactory"/>
<node category-path="/community/spatialAsWKT/readSpatialAsWKT" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.read.read_from_kml.ReadKMLAsWKTNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.readFromWKT.ReadKMLAsWKTNodeFactory"/>
<node
      category-path="/community/spatialAsWKT/readSpatialAsWKT"
      factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.read.read_from_gml.ReadGMLAsWKTNodeFactory"
      id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.readFromGML.ReadGMLAsWKTNodeFactory">
</node>
   <node category-path="/community/spatialAsWKT/viewSpatialAsWKT" deprecated="false" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.view.DisplaySpatialPopulationNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.view.DisplaySpatialPopulationNodeFactory">
   </node>
   <node category-path="/community/spatialAsWKT/transformSpatialAsWKT" deprecated="false" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.transform.reproject.ReprojectNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.reproject.ReprojectNodeFactory">
   </node>
   <node
         category-path="/community/spatialAsWKT/transformSpatialAsWKT"
         deprecated="false"
         factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.transform.filter_ecql.FilterECQLNodeFactory"
         id="ch.res_ear.samthiriot.knime.shapefilesaswkt.filter_ecql.FilterECQLNodeFactory">
   </node>
   <node
         category-path="/community/spatialAsWKT/transformSpatialAsWKT"
         deprecated="false"
         factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.transform.compute_ecql.ComputeECQLNodeFactory"
         id="ch.res_ear.samthiriot.knime.shapefilesaswkt.compute_ecql.ComputeECQLNodeFactory">
   </node>
<node category-path="/community/spatialAsWKT/transformSpatialAsWKT" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.transform.centroid.ComputeCentroidForWKTGeometriesNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.properties.centroid.ComputeCentroidForWKTGeometriesNodeFactory"/>
   <node
         category-path="/community/spatialAsWKT/transformSpatialAsWKT"
         deprecated="false"
         factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.transform.union.UnionOfWKTGeometriesNodeFactory"
         id="ch.res_ear.samthiriot.knime.shapefilesaswkt.transform.union.UnionOfWKTGeometriesNodeFactory">
   </node>
<node
      category-path="/community/spatialAsWKT/transformSpatialAsWKT"
      deprecated="false"
      factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.transform.relate.RelateWKTGeometriesNodeFactory"
      id="ch.res_ear.samthiriot.knime.shapefilesaswkt.transform.relate.RelateWKTGeometriesNodeFactory">
</node>
<node
      category-path="/community/spatialAsWKT/transformSpatialAsWKT"
      deprecated="false"
      factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.transform.operations.OperationsWKTGeometriesNodeFactory"
      id="ch.res_ear.samthiriot.knime.shapefilesaswkt.transform.operations.OperationsWKTGeometriesNodeFactory">
</node>
<node category-path="/community/spatialAsWKT/transformSpatialAsWKT" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.properties.surface.SpatialPropertySurfaceNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.properties.surface.SpatialPropertySurfaceNodeFactory"/>
<node
      category-path="/community/spatialAsWKT/propertiesSpatialAsWKT"
      deprecated="false"
      factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.properties.coordinates2d.Coordinates2DOfWKTGeometriesNodeFactory"
      id="ch.res_ear.samthiriot.knime.shapefilesaswkt.properties.coordinates2d.Coordinates2DOfWKTGeometriesNodeFactory">
</node>
<node
      category-path="/community/spatialAsWKT/propertiesSpatialAsWKT"
      deprecated="false"
      factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.properties.coordinates.CoordinatesOfWKTGeometriesNodeFactory"
      id="ch.res_ear.samthiriot.knime.shapefilesaswkt.properties.coordinates.PointsOfWKTGeometriesNodeFactory">
</node>
<node
      category-path="/community/spatialAsWKT/propertiesSpatialAsWKT"
      factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.properties.globalboundingbox.GlobalBoundingBoxNodeFactory"
      id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.properties.globalboundingbox.GlobalBoundingBoxNodeFactory">
</node>
<node
      category-path="/community/spatialAsWKT/propertiesSpatialAsWKT"
      deprecated="false"
      factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.properties.type.TypeOfWKTGeometriesNodeFactory"
      id="ch.res_ear.samthiriot.knime.shapefilesaswkt.properties.type.TypeOfWKTGeometriesNodeFactory">
</node>
   <node category-path="/community/spatialAsWKT/writeSpatialAsWKT" deprecated="false" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.write.write_to_shapefile.WriteWKTAsShapefileNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.writeToShapefile.WriteWKTAsShapefileNodeFactory"/>
<node category-path="/community/spatialAsWKT/writeSpatialAsWKT" deprecated="false" factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.write.write_to_kml.WriteWKTToKMLNodeFactory" id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.writeToKML.WriteWKTToKMLNodeFactory"/>
<node
      category-path="/community/spatialAsWKT/writeSpatialAsWKT"
      deprecated="false"
      factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.write.write_to_gml.WriteWKTToGMLNodeFactory"
      id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.writeToGML.WriteWKTToGMLNodeFactory">
</node>
<node
      category-path="/community/spatialAsWKT/writeSpatialAsWKT"
      deprecated="false"
      factory-class="ch.res_ear.samthiriot.knime.shapefilesaswkt.write.write_to_db.WriteWKTIntoDBNodeFactory"
      id="ch.res_ear.samthiriot.knime.shapefilesAsWKT.writeToDB.WriteWKTIntoDBNodeFactory">
</node>
</extension>
   
</plugin>
